/.Ft2Logic.java._trace
/.FPlayerMapper.java._trace
/.FTPlayerMapper.java._trace
/.FTZoneMapper.java._trace
/.FTObstacleMapper.java._trace
/.FTZiplineMapper.java._trace
/.FTDistanceMapper.java._trace
/.MapperInterfaceTemp.java._trace
