/.DuplicatePlayerRole.java._trace
/.FairtracksQueries.java._trace
/DuplicatePlayerRole.java
/FairtracksQueries.java
/.CircularZoneContainment.java._trace
/.CorrectContainShape.java._trace
/.DisallowedZoneForPlayer.java._trace
/.DuplicateStartPosition.java._trace
/.IdenticalPositionZipline.java._trace
/.IncorrectStartPlayer.java._trace
/.IncorrectZoneShape.java._trace
/.NoAdjAllowedZone.java._trace
/.NoPickableObstacle.java._trace
/.NoSelfContain.java._trace
/.ObstacleCloseToCorner.java._trace
/.OutOfCorrectRange.java._trace
/.OutofcourtObstacles.java._trace
/.PlayerByColor.java._trace
/.StartingPositionPlayer.java._trace
/CircularZoneContainment.java
/CorrectContainShape.java
/DisallowedZoneForPlayer.java
/DuplicateStartPosition.java
/IdenticalPositionZipline.java
/IncorrectZoneShape.java
/NoAdjAllowedZone.java
/NoPickableObstacle.java
/NoSelfContain.java
/ObstacleCloseToCorner.java
/OutofcourtObstacles.java
/PlayerByColor.java
/StartingPositionPlayer.java
/IncorrectStartPlayer.java
/OutOfCorrectRange.java
/.IncorrectContainShape.java._trace
/.NoPickupColor.java._trace
/.OutOfField.java._trace
/IncorrectContainShape.java
/NoPickupColor.java
/OutOfField.java
/.PlayerMustHaveRole.java._trace
/.PlayerPosition.java._trace
/.NegplayerPosition.java._trace
/NegplayerPosition.java
/PlayerPosition.java
/.CountPlayers.java._trace
/CountPlayers.java
/.Counter.java._trace
/Counter.java
/.CountPlayersHelper.java._trace
/.CountPlayersLess.java._trace
/.CountPlayersLower.java._trace
/.CountPlayersUpper.java._trace
/.PlayerFinder.java._trace
/.Dist.java._trace
/.Obs.java._trace
/.Zip.java._trace
/.Zone.java._trace
/.Statobj.java._trace
/CountPlayersUpper.java
/Dist.java
/Obs.java
/Zip.java
/Zone.java
/Statobj.java
/.CountPickUpColor.java._trace
/.CountPosition.java._trace
/CountPickUpColor.java
/CountPosition.java
/.DuplicatePlayername.java._trace
/.CountPosUpper.java._trace
/.FindPlayerRole.java._trace
/.PlayerRole.java._trace
/.DuplicatePlayerLengthX.java._trace
/DuplicatePlayerLengthX.java
/FindPlayerRole.java
/CountPosUpper.java
/PlayerRole.java
/.PlayerCount.java._trace
/.CountPlayer.java._trace
/.CountStaticObject.java._trace
/.CountObstacle.java._trace
/.CountPickUpColorClass.java._trace
/.CountZipline.java._trace
/.CountZone.java._trace
/CountObstacle.java
/CountPickUpColorClass.java
/CountPlayer.java
/CountStaticObject.java
/CountZipline.java
/CountZone.java
/.CanPickUpAndObstacleCorrespondance.java._trace
/.NoCanPickUp.java._trace
/.NotOnePosition.java._trace
/CanPickUpAndObstacleCorrespondance.java
/NoCanPickUp.java
/NotOnePosition.java
/.InitalPositionInCorrectZone.java._trace
/.Boundary.java._trace
/.ObstacleBound.java._trace
/.PlayerBound.java._trace
/.PositionBound.java._trace
/.ZiplineBound.java._trace
/.ZoneBound.java._trace
/ObstacleBound.java
/PlayerBound.java
/PositionBound.java
/ZiplineBound.java
/ZoneBound.java
/.NoAdjacentAllowedZone.java._trace
/NoAdjacentAllowedZone.java
/.MovableObstacleNotColoredOther.java._trace
/.NonMovableObstacleOtherColor.java._trace
/.NoColor.java._trace
/.OtherPickupColor.java._trace
/.PlayerSize.java._trace
/.NoTwoPlayersISameZone.java._trace
/NoTwoPlayersISameZone.java
/OtherPickupColor.java
/PlayerSize.java
/.InitalZoneIsNotAllowed.java._trace
/.NoValidPickupColor.java._trace
/.AdjacencyCommutativity.java._trace
/.PartialOverlapCommutativity.java._trace
/.SmallZoneContainmentLimits.java._trace
/.BigZoneContainmentLimits.java._trace
/.MediumZoneContainmentLimits.java._trace
/.BigZoneObsContainmentLimits.java._trace
/.MediumZoneObsContainmentLimits.java._trace
/.PointSizedZoneType.java._trace
/.SmallZoneObsContainmentLimits.java._trace
/.ZiplineZoneSize.java._trace
/.ZiplineZoneContaimnet.java._trace
/.ZiplineZoneContaiment.java._trace
/.ZiplineZoneLowerContaiment.java._trace
/.ZiplineZoneUpperContaiment.java._trace
/.PointZoneAdjacencyLimits.java._trace
/.PointZoneContainmentLimits.java._trace
/.PointZonePartialOverlapLimits.java._trace
/.SelfAdjacency.java._trace
/.SelfContainment.java._trace
/.SelfOverlap.java._trace
/NoValidPickupColor.java
/AdjacencyCommutativity.java
/BigZoneContainmentLimits.java
/InitalZoneIsNotAllowed.java
/MediumZoneContainmentLimits.java
/PartialOverlapCommutativity.java
/PointSizedZoneType.java
/PointZoneAdjacencyLimits.java
/PointZoneContainmentLimits.java
/PointZonePartialOverlapLimits.java
/SelfAdjacency.java
/SelfContainment.java
/SelfOverlap.java
/SmallZoneContainmentLimits.java
/ZiplineZoneSize.java
/ZiplineZoneUpperContaiment.java
/.InitalPlayerZoneIsNotAllowed.java._trace
/.InitalObstacleZoneIsNotAllowed.java._trace
/.ObstaclePointSizeLimits.java._trace
/.ObstacleSmallSizeLimits.java._trace
/.ObstacleBigSizeLimits.java._trace
/.ObstacleInPointZone.java._trace
/.ObstacleInsmallZone.java._trace
/.ObstacleInSmallZone.java._trace
/.ZiplineSize.java._trace
/.ZiplineExtremitiesType.java._trace
/.ZiplineZoneMustBeExtremity.java._trace
/InitalPlayerZoneIsNotAllowed.java
/InitalObstacleZoneIsNotAllowed.java
/MovableObstacleNotColoredOther.java
/ObstacleBigSizeLimits.java
/ObstacleInPointZone.java
/ObstacleInSmallZone.java
/ObstaclePointSizeLimits.java
/ObstacleSmallSizeLimits.java
/ZiplineExtremitiesType.java
/ZiplineSize.java
/ZiplineZoneMustBeExtremity.java
/.ZiplineSmallExtremityDistance.java._trace
/.DistanceCTZiplineExtremities.java._trace
/.ZiplineExtremityMustHaveDistance.java._trace
/.Aab.java._trace
/.Aaa.java._trace
/.DistanceFFZiplineExtremities.java._trace
/.ZiplineBigExtremityDistance.java._trace
/.ZiplineMediumExtremityDistance.java._trace
/.DistanceVFFZiplineExtremities.java._trace
/.ZiplineDistinctExtremities.java._trace
/.HelperContainedZoneFinder.java._trace
/.ZiplineDistinctExtremityContainment.java._trace
/.HelperContainsZoneFinder.java._trace
/.ZiplineDistinctExtremityContainmentAdjacent.java._trace
/.ZiplineDistinctExtremityContainmentPlayerAllowances.java._trace
/.ZiplineNonAdjacentExtremities.java._trace
/.ZiplineDistinctExtremityContainmentOverlap.java._trace
/.ZiplineNonOverlappingExtremities.java._trace
/.ZiplineDifferentAllowancesExtremities.java._trace
/.ZiplineDistinctExtremityContainmentAllowance.java._trace
/.ZoneContaimentAllowanceLimits.java._trace
/.ZoneContaimentPlayerAllowanceLimits.java._trace
/.ZoneContainmentZoneContainmentLimits.java._trace
/.PlayerCanPickUpAndObstacleCorrespondance.java._trace
/.PlayerDistinctRole.java._trace
/.PlayerNoTwoInSameZone.java._trace
/.PlayerNoValidPickupColor.java._trace
/.PlayerOtherPickupColor.java._trace
/.PlayerRoleExistance.java._trace
/.ZonePlayerInitiallyNotAllowed.java._trace
/.ObstacleInitalZoneNotAllowed.java._trace
/.ObstacleMovableNotColoredOther.java._trace
/.ObstacleNoColor.java._trace
/.ObstacleNonMovableOtherColor.java._trace
/.ZiplineExtremitiesDistanceCT.java._trace
/.ZoneAdjacencyCommutativity.java._trace
/.ZoneBigContainmentLimits.java._trace
/.ZoneMediumContainmentLimits.java._trace
/.ZonePartialOverlapCommutativity.java._trace
/.ZonePointAdjacencyLimits.java._trace
/.ZonePointContainmentLimits.java._trace
/.ZonePointPartialOverlapLimits.java._trace
/.ZonePointSizedType.java._trace
/.ZoneSelfAdjacency.java._trace
/.ZoneSelfContainment.java._trace
/.ZoneSelfOverlap.java._trace
/.ZoneSmallContainmentLimits.java._trace
/.ZoneZipineUpperContaiment.java._trace
/.ZoneZiplineSize.java._trace
/.ZiplineExtremitiesDistanceFF.java._trace
/.ZiplineExtremitiesDistanceVFF.java._trace
/ObstacleInitalZoneNotAllowed.java
/ObstacleMovableNotColoredOther.java
/ObstacleNoColor.java
/ObstacleNonMovableOtherColor.java
/PlayerCanPickUpAndObstacleCorrespondance.java
/PlayerDistinctRole.java
/PlayerNoTwoInSameZone.java
/PlayerNoValidPickupColor.java
/PlayerOtherPickupColor.java
/PlayerRoleExistance.java
/ZiplineBigExtremityDistance.java
/ZiplineDifferentAllowancesExtremities.java
/ZiplineDistinctExtremities.java
/ZiplineDistinctExtremityContainment.java
/ZiplineDistinctExtremityContainmentAdjacent.java
/ZiplineDistinctExtremityContainmentAllowance.java
/ZiplineDistinctExtremityContainmentOverlap.java
/ZiplineExtremitiesDistanceCT.java
/ZiplineExtremitiesDistanceFF.java
/ZiplineExtremitiesDistanceVFF.java
/ZiplineExtremityMustHaveDistance.java
/ZiplineMediumExtremityDistance.java
/ZiplineNonAdjacentExtremities.java
/ZiplineNonOverlappingExtremities.java
/ZiplineSmallExtremityDistance.java
/ZoneAdjacencyCommutativity.java
/ZoneBigContainmentLimits.java
/ZoneContaimentPlayerAllowanceLimits.java
/ZoneContainmentZoneContainmentLimits.java
/ZoneMediumContainmentLimits.java
/ZonePartialOverlapCommutativity.java
/ZonePlayerInitiallyNotAllowed.java
/ZonePointAdjacencyLimits.java
/ZonePointContainmentLimits.java
/ZonePointPartialOverlapLimits.java
/ZonePointSizedType.java
/ZoneSelfAdjacency.java
/ZoneSelfContainment.java
/ZoneSelfOverlap.java
/ZoneSmallContainmentLimits.java
/ZoneZipineUpperContaiment.java
/ZoneZiplineSize.java
/.DistanceReciprocity.java._trace
/.DistanceToSelf.java._trace
/.DistanceForAdjacentZones.java._trace
/.DistanceForContainedZones.java._trace
/.DistanceForOverlappingZones.java._trace
/.DistancebetweenZoneAndOtherOWD.java._trace
/.DistancebetweenPlayers.java._trace
/.DistancebetweenPlayerAndOWD.java._trace
/.DistanceBetweenPlayerAndOWD.java._trace
/.DistanceBetweenZoneAndOtherOWD.java._trace
/.DistanceToPlayers.java._trace
/.DistanceFromZoneToObstacle.java._trace
/.DistanceLimitZoneAndObstacle.java._trace
/.DistanceBetweenPlayerZones.java._trace
/.DistancePlayerZonesMustHaveDistance.java._trace
/.CountDistance.java._trace
/CountDistance.java
/DistanceBetweenZoneAndOtherOWD.java
/DistanceForAdjacentZones.java
/DistanceForContainedZones.java
/DistanceFromZoneToObstacle.java
/DistanceToPlayers.java
/DistanceBetweenPlayerAndOWD.java
/DistanceBetweenPlayerZones.java
/DistanceForOverlappingZones.java
/DistanceLimitZoneAndObstacle.java
/DistancePlayerZonesMustHaveDistance.java
/.DistanceTriangleInequalityA.java._trace
/.DistanceTriangleInequalityB.java._trace
/.DistanceTriangleInequalityC.java._trace
/.DistanceWithinZoneA.java._trace
/.DistanceWithinZoneB.java._trace
/.DistanceWithinZoneC.java._trace
/DistanceTriangleInequalityA.java
/DistanceTriangleInequalityB.java
/DistanceWithinZoneA.java
/DistanceWithinZoneB.java
/DistanceWithinZoneC.java
/.CountObjectWithDistance.java._trace
/.CountRealCoordinates.java._trace
/CountObjectWithDistance.java
/CountRealCoordinates.java
